.addButton {
  width: 100%;
  padding: 1em 2em;
  border: none;
  border-radius: .25em;

  text-transform: uppercase;
  font-weight: 600;

  color: white;
  background: #ff9300;
  box-shadow: 0px 2px 4px #0004;
  transition: 0.1s;
}

.addButton:hover {
  background: #fca730;
  cursor: pointer;
}

.inCart {
  background: #aaa;
}

.inCart:hover {
  background: #aaa;
  cursor: initial;
}
