.slideshowContainer {
	margin: 2em 2em 6em 2em;
}

.slideshowContainer h1 {
	margin: 1.8em 0em 0.6em 0.4em;
	font-weight: bold;
	font-size: 2em;
}

@media only screen and (max-width: 768px) {
  .slideshowContainer {
		margin: 0em 0em 6em 0em;
	}

	.slideshowContainer h1 {
		text-align: center;
	}
}