.slideshowContainer {
	margin: 2em 2em 6em 2em;
}

.slideshowContainer h1 {
	margin: 2em 0em 1.2em 0.4em;
	font-weight: bold;
	font-size: 2em;
}

@media only screen and (max-width: 770px) {
	.slideshowContainer h1 {
		text-align: center;
	}
}

@media only screen and (max-width: 375px) {
	.slideshowContainer {
	 margin: 0em 0em 6em 0em;
 } 
}