.filterWrapper p {
	text-align: center;
	font-size: 2.3em;
	font-weight: bold;
}

.filterContainer {
	display: flex;
	justify-content: center;
}

.filter {
	display: flex;
	flex-direction: row;
	padding: 1em;
}

/* overwrites materialize rule of display none on select tags */
.filter select {
	margin: 0em 1em;
	display: flex;
	border-radius: 5px;
}

.rangeContainer {
	display: contents;
}

.rangeContainer p {
	font-size: 15px;
	margin: 0;
	padding: 0em 1em;
}

.rangeContainer input {
	border: none;
}

