.filterWrapper p {
	text-align: center;
	font-size: 2.3em;
	font-weight: bold;
}

.filterContainer {
	display: flex;
	justify-content: center;
}

.filter {
	width: 800px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
}

.rangeContainer p {
	font-size: 15px;
	padding: 0;
}

/* overwrites materialize rule of display none on select tags */
select {
	display: flex;
	border-radius: 5px;
}

