 .heroContainer {
	position: relative;
	display: block;
} 

.herobannerImg {
	width: 100%;
	height: 100%;
	opacity: 0.8;
	margin-top: 50px;
}

.heroContainer h1 {
	font-size: 20px;
	top: 40px;
	left: 20px;
	color: white;
	text-shadow: 0px 4px 5px black;
	position: absolute;
}