.imgContainer {
  width: 100%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.5);
}

.imgContainer img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  opacity: 0.7; 
  object-position: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 140px;
  text-align: center;
}

.textBg {
  background-color: rgba(26, 26, 26, 0.329);
  backdrop-filter: blur(4px);
  padding: 3em 10em 5em 10em;
  border-radius: 20px;
}

.heroContainer p {
  padding-bottom: 0.5em;
  margin: 0;
  font-size: 4em;
  font-weight: bold;
  color: orange;
  text-shadow: 0px 1px 5px rgb(43, 43, 43);
}

@media only screen and (max-width: 820px) {

  .imgContainer {
    height: 35vh;
  }

  .textContainer {
    top: 2px;
    padding: 14px; 
  }

  .textBg {
    height: 41vh;
    width: 100vw;
    padding: 6em 0em 0em 0em; 
    border-radius: unset;
  }

  .textContainer p {
    font-size: 2.5em;
    text-shadow: 0px 1px 2px rgb(65, 64, 64);
  }
}