.navbarWrapper {
	background-color: #ff9500;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 1;
}

.navbar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	text-align: right;
	padding: 0px 10px;
}

.navUL, .cartContent {
	padding-bottom: 18px;
	background-color: #ff9500;
	box-shadow: 0px 2px 5px rgb(39, 39, 39);
}

.centerLogo {
	display: flex;
	justify-content: center;
}

.navLogo {
	height: 50px;
	width: 50px;
}

.cartNumber {
	padding-left: 5px;
}

/* inside dropdown-menu */

/* overriding materialize rule for nav */
.cartContainer {
	line-height: 1;
}

.cartContainer img {
	height: 100%;
}

.cartContent {
	padding: 0px 20px 28px 20px;
	font-size: 15px;
}

.cartItem {
	margin-bottom: 1em;
}

.cartHeadline {
	font-weight: bold;	
}

.goToCheckout {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 3em;
}

.proceedButton {
	width: 100px;
	background: white;
	padding: 5px 20px;
	border: 2px solid #FF9300;
	border-radius: 5px;
	transition: 0.1s;
	box-shadow: 0px 2px 5px rgb(39, 39, 39);
}

.proceedButton:hover  {
	background:#fca730;
	color: white;
	cursor: pointer;
	transition: 0.1s;
}

.proceedButton:focus {
	background: #ffffff;
	color: rgb(7, 7, 7);
} 

@media screen and (max-width: 1200px) {
  .desktopLinks {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navLogo, .cart:hover, .desktopLinks {
    cursor: pointer;
  }
  
  .hamburgerMenu {
    display: none;
  }

  .desktopLinks {
    display: flex;
  }

  .desktopLinks a {
    padding-right: 1em;
    margin-left: 0.8em;
    font-size: 0.9em;
  }

  .desktopLinks a:hover {
    color: gray;
  }
  
  .cartContainer {
    margin-right: 0.5em;
  }
}
 



