.navbarWrapper {
  /* background-color: #ff9500; */
  background-color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: right;
  padding: 0px 10px;
  color: black;
}

.a {
  color: black !important;
}

.navUL,
.cartContent {
  padding-bottom: 18px;
  background-color: white;
  box-shadow: 0px 2px 5px rgb(39, 39, 39);
  position: absolute;
  top: 100%;
  width: 100%;
  color: black;
}

.centerLogo {
  display: flex;
  justify-content: center;
}

.navLogo {
  height: 56px;
}

.cartNumber {
  padding-left: 5px;
  cursor: pointer;
}

.shoppingCart {
  cursor: pointer;
}

/* inside dropdown-menu */

/* overriding materialize rule for nav */
.cartContainer {
  line-height: 1;
}

.cartContent {
  padding: 0px 20px 28px 20px;
  font-size: 15px;
}

.cartItem {
  margin-bottom: 1em;
}

.cartHeadline {
  font-weight: bold;
}

.moreItems {
  text-align: center;
}

.cartTotal {
text-align: right;
}

.cartValue {
	font-weight: bold;	
}

.goToCheckout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 3em;
  width: 100%;
}

.proceedButton {
  color: white;
  background: #ff9300;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  padding: 1em 2em;
  border: none;
  border-radius: .25em;
  transition: 0.1s;
  box-shadow: 0px 2px 4px #0004;
}

.proceedButton:hover {
  background: #fca730;
  color: white;
  cursor: pointer;
  transition: 0.1s;
}

.proceedButton:focus {
  background: #ffffff;
  color: rgb(7, 7, 7);
}

/* Follow Materialize's breakpoints */
@media only screen and (min-width: 601px) {
  .navLogo {
    height: 64px;
  }

  .navUL,
  .cartContent {
    width: 500px;
  }

  .navUL {
    left: 0;
  }

  .cartContent {
    right: 0;
    color: black;
  }
}

@media screen and (max-width: 1200px) {
  .desktopLinks {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  .navbarWrapper {
    height: 120px;
  }

  .navLogo {
    margin-top: 30px;
  }

  .navLogo,
  .cart:hover,
  .desktopLinks {
    cursor: pointer;
  }

  .cartContainer {
    font-size: 1.5em;
    margin-top: 20px;
  }

  .hamburgerMenu {
    display: none;
  }

  .desktopLinks {
    display: flex;
  }

  .desktopLinks a {
    padding-right: 1em;
    margin-top: 30px;
    margin-left: 0.8em;
    font-size: 1.5em;
    color: black;
  }

  .desktopLinks a:hover {
    color: gray;
  }

  .cartContainer {
    margin-right: 0.5em;
  }

  .navUL,
  .cartContent {
    width: 600px;
  }
}
