.productList * {
  box-sizing: border-box;
  margin: 0;
}

.headline {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
}

.productList .productListContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  justify-content: center;
  place-items: center;
  margin-top: 0.2em;
}

@media only screen and (min-width: 768px) {
  .productList .productListContainer {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 0;
    padding: 20px;
  }

  .productListContainer {
    margin: 2rem;
  }

  .headline {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 1200px) {
  .productList .productListContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    padding: 20px;
    margin: 3rem auto;
    max-width: 70%;
  }
}

@media screen and (min-width: 1800px) {
  .productList .productListContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .headline {
    font-size: 3rem;
  }
}
