.productItemContainer * {
  box-sizing: border-box;
  margin: 0;
}

.productItemContainer {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  min-width: 95%;
  margin-left: 1em;
  margin-right: 1em;
  overflow: hidden;
}

.productItemContainer:hover {
  box-shadow: 6px 10px 20px 0 #00000033;
}

.productInfo {
  margin-top: 1rem;
}

.productItemContainer img {
  width: 100%;
}

.productInfo h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.firstInfo {
  padding-left: 1rem;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.firstInfo h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.priceContainer span {
  font-size: 1.2rem;
  font-weight: 500;
}

.secondInfo {
  display: flex;
  margin-left: 0.7rem;
}

.secondInfo p {
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .productItemContainer {
    max-width: 90%;
    height: 100%;
  }

  .productItemContainer:hover {
    max-width: 89%;
  }
}

@media screen and (min-width: 1200px) {
  .productItemContainer {
    height: 100%;
    max-width: 100%;
  }

  .productItemContainer:hover {
    max-width: 99%;
  }

  .productItemContainer img {
    cursor: pointer;
  }

  .priceContainer {
    font-size: 80%;
  }

  .firstInfo {
    cursor: pointer;
  }

  .secondInfo {
    cursor: pointer;
  }

  .priceContainer span {
    cursor: pointer;
  }
}
