.searchfield {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .icon {
    font-size: 25px;
    position: absolute;
    left: 90%;
    padding-bottom: 6px;
    transition: 0.1s;
  }
  
  .icon:hover {
      cursor: pointer;
      color:  #FF9300;
  }
  