.userMenuContainer {
  padding: 0 1rem;
}

.h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.p:hover {
  color: #ff9300;
  cursor: pointer;
}

.username {
  color: #ff9300;
}

.loginMsg,
.logoutMsg {
  font-size: 1.3rem;
  color: #ff9300;
  line-height: 1.5;
}

.navLink {
  color: black !important;
}

.userBtn {
  color: white;
  background: #ff9300;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  padding: 1em 2em;
  margin-bottom: 1rem;
  border: none;
  border-radius: .25em;
  transition: 0.1s;
  box-shadow: 0px 2px 4px #0004;
}

.userBtn:hover {
  background: #fca730;
  color: white;
  cursor: pointer;
  transition: 0.1s;
}

.inputPasswordWrapper {
  position: relative;
}

.eyeIcon {
  position: absolute;
  left: 93%;
  bottom: 45%;
  cursor: pointer;
  font-size: 1rem;
  
}