
.h {
    font-weight: bold;
    padding-left:2rem;
    font-size: x-large;
}

.p {
    font-size: medium;
    align-content: center;
    padding: 2rem;
}
.span {
    font-weight: bold;
}
.flexBox {
    display: flex;
    flex-wrap: wrap;
} 
.flexBoxn {
    display: flex;
    flex-wrap: wrap-reverse;
} 



@media only screen and (min-width: 500px) {
    
    .content {
        align-self: center;
        flex-basis: 50%;
        max-width: 50vw;
       
    }
    
    .flexBox {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    .flexBoxn {
        display: flex;
        justify-content: space-around;
        margin-top:40px;
    }
}