.checkoutContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #EFEFEF;
}


.checkoutTitle {
    font-size: 2rem;
    text-transform: uppercase;
}

/*----- styles for input form -----*/

.contactForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;

}

.formTitle {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.titleInput {
    color: #000000;
    font-size: 1.3rem;
    
}

.label {
    margin-top: 1.4rem;
}

.monthYearWrapper{
    display: flex;
}



@media only screen and (min-width: 529px) {
    .contactForm {
        width: 60%;
    }
}

@media only screen and (min-width: 1024px) {
    .contactForm {
        width: 40%;
    }
}

@media only screen and (min-width: 1280px) {
    .contactForm {
        width: 35%;
    }
}