.confirmationWrapper {
  padding-top: 7rem;
  padding-bottom: 2rem;
  width: 90%;
  margin: auto;
}

.confirmationWrapper p {
  font-size: 1.2rem;
}

.title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.icon {
  font-size: 4rem;
  color: limegreen;
}

/*-----styles for button-----*/

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.button {
  margin-top: 8rem;
  background: white;
  padding: 5px 20px;
  border: 2px solid #FF9300;
  border-radius: 5px;
  transition: 0.1s;
  box-shadow: 1px 1px 12px 1px #ccc;
}

.button:hover{
  background:#FF9300;
  color: white;
  cursor: pointer;
  transition: 0.1s;
}

button:focus {
  background: #ffffff;
  color: rgb(7, 7, 7);
} 

/*-----styles for total value-----*/
.showTotalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.8rem;
}

.totalcost {
  font-size: 1.6rem;
  font-weight: bold;
}

.showcost{
  font-size: 1.4rem;
}


/*-----styles for purchased list-----*/
.purchasedList {
  padding: 2rem;
}