.confirmationWrapper {
  margin: auto;
  padding-top: 7.5rem; /* to be removed when navbar is fixed*/
  width: 75%;
}

.confirmationWrapper h1 {
  font-size: 1.5rem;
}

.confirmationWrapper p {
  font-size: 1.2rem;
}

.title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.icon {
  font-size: 4rem;
  color: limegreen;
}

/*-----styles for purchased list-----*/

.purchasedList {
  display: grid;
  gap: 10px;
}
/* 
.purchasedList img {
  max-width: 30%;
} */
/* 
.purchasedList p {
text-align: left;

} */
.purchasedContainer h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.purchasedContainer h3 {
  font-size: 1.2rem;
}

/*-----styles for total value-----*/
.showTotalContainer {
  width: 90%;
  margin: 1rem auto;
}

.totalcost {
  font-weight: bold;
  margin: 0 0.8rem;
}

.showcost {
  margin: 0 0.8rem;
}

/*-----styles for button-----*/

.button {
  margin: 3rem auto;
  background: #efefef;
  padding: 5px 20px;
  border: 2px solid #FF9300;
  border-radius: 5px;
  transition: 0.1s;
  box-shadow: 1px 1px 12px 1px #ccc;
}

.button:hover{
  background:#FF9300;
  color: white;
  cursor: pointer;
  transition: 0.1s;
}

button:focus {
  background: #ffffff;
  color: rgb(7, 7, 7);
} 

@media only screen and (min-width: 329px) {
  .confirmationWrapper {
    width: 60%;
  }
}

@media only screen and (min-width: 375px) {

  .totalcost {
    font-weight: bold;
    margin: 0 0.8rem;
  }

  .showcost{
    margin: 0;
  }

  /* .purchasedList div {
    justify-content: start;
  } */

}

@media only screen and (min-width: 768px) {
  .showTotalContainer {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 876px) {
  /* .purchasedList img {
    max-width: 25%;
  } */
/* 
  .purchasedList div {
    justify-content: space-between;
    flex-direction: row;
   } */
} 

@media only screen and (min-width: 1199px) {
  .confirmationWrapper {
    padding-top: 10rem;
    width: 60%;
  }
}