
.confirmationWrapper {
  margin: auto;
  padding-top: 7.5rem; /* to be removed when navbar is fixed*/
  width: 75%;
}

.confirmationWrapper h1 {
  font-size: 1.5rem;
}

.confirmationWrapper p {
  font-size: 1.2rem;
}

.title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.icon {
  font-size: 4rem;
  color: limegreen;
}

/*-----styles for purchased list-----*/

.purchasedList {
  display: grid;
  gap: 10px; /*to set margin between cars in list*/
}

.purchasedContainer h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.purchasedContainer h3 {
  font-size: 1.2rem;
}

/*-----styles for total value-----*/
.showTotalContainer {
  width: 90%;
  margin: 1rem auto;
  padding-top: 1.2rem;
  text-align: right;
}

.totalcost {
  font-weight: bold;
  margin: 0 0.8rem;
}

.showcost {
  margin: 0 0.8rem;
  font-weight: bold;
}

/*-----styles for button-----*/

.button {
  margin: 3rem auto;
  background: #efefef;
  padding: 5px 20px;
  border: 2px solid #FF9300;
  border-radius: 5px;
  transition: 0.1s;
  box-shadow: 1px 1px 12px 1px #ccc;
}

.button:hover{
  background:#FF9300;
  color: white;
  cursor: pointer;
  transition: 0.1s;
}

button:focus {
  background: #ffffff;
  color: rgb(7, 7, 7);
} 

@media only screen and (min-width: 375px) {

  .totalcost {
    font-weight: bold;
    margin: 0 0.8rem;
  }

  .showcost{
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  .showTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 1.2rem;
  }
}

@media only screen and (min-width: 1199px) {
  .confirmationWrapper {
    padding-top: 10rem;
    width: 60%;
  }
}