.container {
	padding-top: 100px;
	max-width: 600px;
	margin: 0 auto;
}

.productImg {
	width: 100%;
	height: auto;
	border-radius: 1rem;
}

.productTitle {
	font-size: 1.5rem;
	margin: .5em 0;
}

.tableHeader {
	font-weight: 700;
}

.productPrice {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 1em 0 .5em;
}

.buttonStyle {
	display: flex;
	justify-content: flex-end;
}

@media only screen and (min-width: 601px) {
	.productPrice {
		font-size: 1.75rem;
	}
}

@media only screen and (min-width: 993px) {
	.productPrice {
		font-size: 2rem;
	}

	.container {
		max-width: 1000px;
	}
}