.container {
	margin-top: 30px;
}

.productImg {
	width: 100%;
	height: auto;
}

.productTitle {
	font-size: 1.5rem;
	margin-top: 0;
}

.tableHeader {
	font-weight: 700;
}

.productPrice {
	font-size: 2rem;
	font-weight: 600;
	padding: 10px 0;
}

.buttonStyle {
	margin-bottom: 3rem;
	margin-top: 1rem;
}