body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* this is the styling for carousel-buttons */
.slick-prev:before,
.slick-next:before
{
  color: rgb(224, 148, 5) !important; 
  font-size: 28px !important;
}

.slick-arrow {
  box-shadow: none;
}

.slick-next {
  right: -16px !important;
}

.slick-dots li button {
  box-shadow: none;
}

button {
  padding: 1em 2em;
  border: none;
  border-radius: .25em;

  text-transform: uppercase;
  font-weight: 600;

  color: white;
  background: #ff9300;
  box-shadow: 0px 2px 4px #0004;
  transition: 0.1s;
}

button:hover {
  background: #fca730;
  cursor: pointer;
}

button:focus {
  background: #ffffff;
  color: rgb(7, 7, 7);
} 
